@model IEnumerable<Videostore.Entities.Director>



<h1>Directors</h1>

<div class="row my-5">
    <div class="col-sm-12 col-md-12">
        <a asp-action="Create" class="btn btn-success btn-block">Create</a>
    </div>
</div>

<h4>All Directors</h4>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Director name</th>
            <th>Nationality</th>
            <th>Birthday</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var director in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => director.directorName)</td>
                <td>@Html.DisplayFor(modelItem => director.directorNationality)</td>
                <td>@Html.DisplayFor(modelItem => director.directorBirthday)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@director.directorID" class="btn btn-secondary btn-block">Edit</a>
                    <a asp-action="Details" asp-route-id="@director.directorID" class="btn btn-info btn-block">Details</a>
                    <a asp-action="Delete" asp-route-id="@director.directorID" class="btn btn-danger btn-block">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>