@model Videostore.Entities.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.runTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.runTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.releaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.releaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actor.actorID)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.buy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.buy.buyID)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.director.directorID)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rent.rentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.watchlist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.watchlist.watchlistID)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.movieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
