@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>


<div class="row text-center">
    <div class="col-sm-12 col-md-12">
        <h2>Users</h2>
    </div>
</div>

<hr />

<div class="row mb-5">
    <div class="col-sm-12 col-md-6 offset-3">
        <a asp-action="Create" class="btn btn-success btn-block">
            <i class="fas fa-user"></i> Create 
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => user.Id) </td>
                        <td> @Html.DisplayFor(modelItem => user.UserName) </td>
                        <td> @Html.DisplayFor(modelItem => user.Email) </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-info">
                                <i class="fas fa-info"></i> Details
                            </a>
                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-secondary">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
